<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p class="block__content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex consequuntur
      fuga repudiandae quia eaque! Repellat modi, deleniti molestias sapiente
      doloremque sunt quae similique, porro iste, consequatur numquam laudantium
      qui harum.
    </p>
  </header>
  <div class="card card--primary">
    <header class="card__header">
      <h3 class="plan__name">Entry</h3>
    </header>
    <div class="card__body">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat
        reiciendis sed tempore suscipit, aut ullam iure ab tenetur earum
        obcaecati quod alias, animi perspiciatis eos saepe, ratione id adipisci
        ad.
      </p>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p class="block__content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex consequuntur
      fuga repudiandae quia eaque! Repellat modi, deleniti molestias sapiente
      doloremque sunt quae similique, porro iste, consequatur numquam laudantium
      qui harum.
    </p>
  </div>
</section>
